@keyframes section1 {
	0%  {
		transform translate(0, -10px)
	}
	20%  {
		transform translate(0, -2px)
	}
	40%  {
		transform translate(0, -6px)
	}
	60%  {
		transform translate(0, -9px)
	}
	80%  {
		transform translate(0, -7px)
	}
	100%  {
		transform translate(0, 0)
	}
}

@keyframes section2 {
	0%  {
		transform translate(0, -5px)
	}
	20%  {
		transform translate(0, -3px)
	}
	40%  {
		transform translate(0, -8px)
	}
	60%  {
		transform translate(0, -4px)
	}
	80%  {
		transform translate(0, -1px)
	}
	100%  {
		transform translate(0, -5px)
	}
}

@keyframes section3 {
	0%  {
		transform translate(0, -6px)
	}
	20%  {
		transform translate(0, -3px)
	}
	40%  {
		transform translate(0, -9px)
	}
	60%  {
		transform translate(0, -3px)
	}
	80%  {
		transform translate(0, -2px)
	}
	100%  {
		transform translate(0, -10px)
	}
}

@keyframes section4 {
	0%  {
		transform translate(0, -1px)
	}
	20%  {
		transform translate(0, -10px)
	}
	40%  {
		transform translate(0, -7px)
	}
	60%  {
		transform translate(0, -3px)
	}
	80%  {
		transform translate(0, -1px)
	}
	100%  {
		transform translate(0, -5px)
	}
}